@use './../base/colors';
@use './../base/typography' as fonts;
@use './../abstract/functions';
.about {
    text-align: justify;
    h2 {
        color: colors.$color-accent-01;
        font-size: fonts.$font-size-title-lg;
        font-weight: fonts.$font-w-regular;
        padding: functions.pixelToRem(115) 0 0 functions.pixelToRem(192);
    }
    &__part {
        flex-direction: column;
        &__title {
            display: flex;
            &::after,
            &::before {
                content: "";
                display: block;
                height: functions.pixelToRem(1);
                background-color: colors.$color-secondary-01;
            }
            &::before {
                width: functions.pixelToRem(60);
            }
            h3 {
                display: block;
                padding: functions.pixelToRem(20);
                color: colors.$color-secondary-01;
                font-size: fonts.$font-size-lg;
                font-weight: fonts.$font-w-regular;
                font-family: fonts.$ff-primary;
            }
        }
        &__text {
            color: colors.$color-accent-01;
            font-family: fonts.$ff-secondary;
            font-size: fonts.$font-size-sm;
            font-weight: fonts.$font-w-book;
        }
    }
}