@use './../base/colors';
@use './../base/typography'  as fonts;
@use './../abstract/functions';

.contact {
    width: 100%;

    &__text {
        width: 50%;
        background-color: colors.$color-secondary-01;
        color: colors.$color-primary-01;

        div {
            width: functions.pixelToRem(672);
        }
        h2 {
            font-size: fonts.$font-size-title-sm;
            font-weight: fonts.$font-w-regular;
        }
        
        p {
            font-family: fonts.$ff-secondary;
            font-size: fonts.$font-size-md;
        }
    }

    &__image {
        width: 50%;

        img {
            display: block;
        }
    }
}