@use './../base/colors';
@use './../base/typography'  as fonts;
@use './../abstract/functions';

.contact {
    width: 100%;

    &__text {
        width: 50%;
        background-color: colors.$color-secondary-01;
        color: colors.$color-primary-01;

        div {
            width: functions.pixelToRem(672);
        }
        h2 {
            font-size: fonts.$font-size-title-sm;
            font-weight: fonts.$font-w-regular;
        }
        
        p {
            font-family: fonts.$ff-secondary;
            font-size: fonts.$font-size-md;
        }
    }

    &__image {
        width: 50%;

        img {
            display: block;
        }
    }
}


.reservation{
    font-family: fonts.$ff-secondary;

    &__container {
        // max-width: functions.pixelToRem(804);
        width: functions.pixelToRem(1004);
        min-width:  functions.pixelToRem(254);
        padding:  functions.pixelToRem(100);
        margin-inline: auto;

        @media (max-width: functions.pixelToRem(639)) {
            padding: 0 functions.pixelToRem(40);
        }   

        input, textarea {
            width: 100%;
        }
    }

    &__title {
        font-family: fonts.$ff-primary;
        font-weight: fonts.$font-w-regular;
        font-size: fonts.$font-size-title-md;
    }
}