    @use './../base/colors';
    @use './../base/typography' as fonts;
    @use './../abstract/functions';
    .employeur {
        // min-height: 100vh;
        min-width: 100vw;
        background-image: url(./../../images/employeur.png);
        background-repeat: no-repeat;
        background-position: fixed;
        &__info {}
        &__title {
            color: colors.$color-primary-01;
            font-size: fonts.$font-size-title-lg;
            font-weight: fonts.$font-w-regular;
            padding: functions.pixelToRem(115) 0 0 0;
        }
        .card {
            background: #fff;
            padding: functions.pixelToRem(5) functions.pixelToRem(25);
            box-shadow: 1px 10px 7px -1px colors.$color-third-light-01;
            -webkit-box-shadow: 1px 10px 7px -1px colors.$color-third-light-01;
            -moz-box-shadow: 1px 10px 7px -1px colors.$color-third-light-01;
            // width: 400px;
            &__title {
                color: colors.$color-secondary-01;
                font-size: fonts.$font-size-lg;
                font-family: fonts.$ff-primary;
                font-weight: fonts.$font-w-regular;
            }
            &__text {
                color: colors.$color-accent-01;
                font-size: fonts.$font-size-xs;
                font-family: fonts.$ff-secondary;
                font-weight: fonts.$font-w-regular;
            }
        }
    }