    @use './../base/colors';
    @use './../base/typography' as fonts;
    @use './../abstract/functions';
    .employeur {
        min-height: 100vh;
        min-width: 100vw;
        background-image: url(./../../images/employeur.png);
        background-repeat: no-repeat;
        background-position: fixed;
        &__info {}
        .card {
            background: #fff;
            width: 400px;
            &__title {
                color: colors.$color-accent-01;
                font-size: fonts.$font-size-xl;
                font-family: fonts.$ff-primary;
                font-weight: fonts.$font-w-bold;
            }
        }
    }