@use './../base/colors';
@use './../base/typography' as fonts;
@use './../abstract/functions';
.btn {
    border: none;
    font-family: fonts.$ff-primary;
    &--primary {
        background-color: colors.$color-accent-01;
        border: 1px solid colors.$color-accent-01;
        color: colors.$color-primary-01;
    }
    &--secondary {
        background-color: colors.$color-primary-01;
        border: 1px solid colors.$color-primary-01;
        color: colors.$color-accent-01;
    }
    &--third {
        background-color: colors.$color-primary-01;
        border: 1px solid colors.$color-secondary-01;
        color: colors.$color-secondary-01;
    }
    

    &--uppercase {
        text-transform: uppercase;
    }
 
    &--normal {
        padding: functions.pixelToRem(6) functions.pixelToRem(18);
    }

    &--large {
        padding: functions.pixelToRem(20) functions.pixelToRem(32);
        font-size: fonts.$font-size-title-sm
    }
}