@use './typography' as fonts;
@use './colors';
@use './../abstract/functions';



.flex {
    display: flex;
    
    &-ai-c {
        align-items: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
}

.container {
    padding: 0 functions.pixelToRem(192);
}
