@use './typography' as fonts;
@use './colors';
@use './../abstract/functions';
.flex {
    display: flex;
    &-ai-c {
        align-items: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-jc-fs {
        justify-content: flex-start;
    }
    &-ai-s {
        align-items: start;
    }

    &-col {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }
}

.bold {
    font-weight: fonts.$font-w-bold;
}

.container {
    padding: 0 functions.pixelToRem(192);

    @media (max-width: functions.pixelToRem(639)) {
        margin: 0;
        padding: 0 functions.pixelToRem(20);
    }   
}
