@use './typography' as fonts;
@use './../base/colors';
@use './../abstract/functions';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: fonts.$ff-primary;
    font-weight: fonts.$font-w-book;
    color: colors.$color-accent-01;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: colors.$color-accent-01;

}

li {
    list-style: none;
}

hr {
    border: 0;
    height: functions.pixelToRem(1);
    background-color:  colors.$color-secondary-01;
    font-size: fonts.$font-size-body;
}