@use './../abstract/functions';

$font-w-book: 350;
$font-w-regular: 400;
$font-w-semi-bold: 600;
$font-w-bold: 700;


$font-size-xs: functions.pixelToRem(20);
$font-size-sm: functions.pixelToRem(25);
$font-size-md: functions.pixelToRem(30);
$font-size-lg: functions.pixelToRem(50);
$font-size-xl: functions.pixelToRem(80);
$font-size-xxl: functions.pixelToRem(100);


$ff-primary: Bebas-neue;
$ff-secondary: Manrope;


$font-size-body: $font-size-md;


// Heading
$font-size-title-sm: $font-size-lg;
$font-size-title-md: $font-size-xl;
$font-size-title-lg: $font-size-xxl;



@font-face {
    font-family: Bebas-neue;
    src: url(./../../fonts/bebas-neue-pro/Bebas\ Neue\ Pro\ Book.otf);
    font-weight: 350;
}

@font-face {
    font-family: Bebas-neue;
    src: url(./../../fonts/bebas-neue-pro/Bebas\ Neue\ Pro\ Regular.otf);
    font-weight: 400;
}


@font-face {
    font-family: Manrope;
    src: url(./../../fonts/Manrope/Manrope-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Manrope;
    src: url(./../../fonts/Manrope/Manrope-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Manrope;
    src: url(./../../fonts/Manrope/Manrope-SemiBold.ttf);
    font-weight: 600;
}


